body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  /* controls overall page width */
  margin: 0;
  /* center horizontally */
  padding: 0;
  /* spacing on left & right */
  box-sizing: border-box;
}

.loginIn-Container {
  width: 60%;
  height: 700px;
  background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 550px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 16px;
}

.inputStyle {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px lightgray;
  margin-bottom: 10px;
}

.inputLabel {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.loginBtnStyle {
  background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
  width: 98%;
  padding: 8px;
  margin:10px 0 5px 0;
  border-radius: 5px;
  border: solid 1px lightgrey;
  /* box-shadow: 0 1px 5px #aeaeae; */
  font-size: 14px;
  font-weight: 500;
}

.error-msg {
  color: #fa4040;
  font-size: 12px;
  margin-bottom: 16px;
}